header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playingBoard {
  display: grid;
  border: 2px solid black;
  height: 500px;
  width: 500px;
}

.gridItem {
  border: 0px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
